body {
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgb(0, 0, 110);
    overflow-x: hidden;
}

.sidenav * {
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(170, 170, 170);
    display: block;
}

.sidenav #title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sidenav #title h1 {
    color:rgb(228, 228, 228);
    font-size: 40px;
    padding: 0;
}

.sidenav #title em {
    color:rgb(158, 158, 158);
    padding: 0;
}

.sidenav a:hover {
    background-color: rgb(27, 27, 129);
}

.sidenav #active {
    color:rgb(228, 228, 228);
}

.main {
    margin-left: 300px;
    padding: 20px;
}

h1#header{
    padding: 20px;
    margin-bottom: 20px;
    color:rgb(228, 228, 228);
    background-color: rgb(233, 64, 64);
}

.card-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
}

.card {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
}