body {
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

p, h2, h3, ul {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

p, li {
    font-size: 14pt;
}

ul {
    padding-left: 50px;
}

.sidenav {
    background-color: rgb(201, 201, 201);
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    width: 300px;
    z-index: 1;
}

.sidenav * {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
}

.sidenav #title {
    padding-bottom: 50px;
    padding-top: 50px;
}

.sidenav #title h1 {
    font-size: 40px;
    padding: 0;
    text-align: center;
}

.sidenav #title em {
    color:rgb(133, 133, 133);
    padding: 0;
}

.sidenav a:hover {
    background-color: rgb(180, 180, 180)
}

.sidenav #active {
    color: rgb(0, 0, 0);
}

.sidenav a {
    color: rgb(80, 80, 80);
}

.main {
    margin-left: 300px;
    padding: 20px;
}

h1#header{
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
}

.card {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-decoration: none;
    width: 300px;
}

.card * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    height: 300px;
    object-fit: cover;
    width: 300px;
}

.card h3 {
    padding: 15px;
}

@media screen and (max-width: 1300px) {
    .sidenav {
        height: 117px;
        margin: 0;
        position: relative;
        width: 100%;
    }

    .sidenav * {
        bottom: 0;
        display: block;
        float: left;
        padding: 10px 20px;
    }

    .sidenav #title {
        height: 70px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .sidenav #title * {
        width: auto;
    }

    .sidenav #title h1 {
        font-size: 30px;
        padding: 20px;
    }

    .sidenav #title em {
        padding: 30px 10px 10px 10px;
        vertical-align: middle;
    }

    .main {
        left: 0;
        margin: 0;
        position: static;
        top: 0;
    }
}

@media screen and (max-width: 660px) {
    .sidenav {
        height: 450px;
        height: auto;
        position: relative;
        width: 100%;
    }

    .sidenav #title {
        height: auto;
    }

    .sidenav #title em, .sidenav #title h1 {
        padding: 10px;
        width: calc(100% - 20px);
    }

    .sidenav * {
        padding: 10px;
        text-align: center;
        width: calc(100% - 20px);
    }

    .sidenav a, .sidenav #active {
        height: 30px;
    }
}
